<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input [id]="myId" type="text" value="test" id="wow">
      <input id="{{myId}}" type="text" value="test" id="wow">

      <input type="text" disabled="false">
      <input type="text" [disabled]="false">

      <h3>I am in the AppComponent</h3>

      <hr>

      <app-servers></app-servers>

      <hr>

      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

      <hr>

      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{ username }}</p>
      <button class="btn btn-primary" [disabled]="username === ''" (click)="resetUsername()">Reset username</button>

      <hr>

      <div *ngFor="let character of sampleArray; let i = index">
        {{ character }} has index of {{i}}
      </div>
    </div>
  </div>
</div>